body {
  display: grid;
  grid-template-rows: 100px 400px;
  grid-template-columns: 300px 300px;
  
}

.header {
  background-color: rgb(255, 196, 0);
  width: auto;
  border: black solid 5px;
  
}

img {
  width: 200px;
  height: 200px;
  display: block;
  outline: lightblue solid 5px;
}

.container {
  background: #2d2d2d;
  color: white;
 
}

form {
  background: #ececec;
  text-align: center;
  
}
